.venv/

delta/*
!delta/bronze/
!delta/silver/
!delta/gold/

delta/bronze/*
!delta/bronze/.gitkeep

delta/silver/*
!delta/silver/.gitkeep

delta/gold/*
!delta/gold/.gitkeep

delta_bonus/*
!delta_bonus/processed/

delta_bonus/processed/*
!delta_bonus/processed/.gitkeep

spark-warehouse/

.ipynb_checkpoints/

Thumbs.db
.vscode/